// 🎨 Palette globale
// 🎨 Variabili SCSS collegate alle CSS globali di Elementor
$primary: var(--e-global-color-primary);  //#2D2E83
$secondary: var(--e-global-color-secondary); // #1B1B32
$text-color: var(--e-global-color-text); // #1B1B32
$accent: var(--e-global-color-accent); // #FFB938
$light-blue: var(--e-global-color-bf33bd2); // #6BB1E3
$light-blue-50: var(--e-global-color-363ef00); // #A9D2EF
$light-blue-5: var(--e-global-color-7f6251e); // #EAF4FB
$blue-50: var(--e-global-color-954c1db);  // #7E7FD3
$blue-5: var(--e-global-color-071fa3d); // #ECECF8
$dark-blue: var(--e-global-color-6ae0d3f);  // #1B1B32
$navy: var(--e-global-color-f5c6513); // #0F2A3D
$black: var(--e-global-color-d9541e8);  // #000000
$white: var(--e-global-color-a5f40b2);  // #FFFFFF
 