@import 'variables';

.form-auto {
    background-color: $dark-blue;
    color: $white;
    padding: 48px;
    border-radius: 24px;

    label,
    a,
    a:hover {
        color: $white !important;
    }

    label,strong{
        font-weight: 700;
    }

    .submit-box {
        width: 48%;

        label,
        a {
            cursor: pointer;
            font-size: 12px;
        }

        a {
            text-decoration: underline;

            &:hover {
                font-size: 12px;

            }
        }

        .btn-invio {
            background-color: $accent !important;
            padding: 16px 42px !important;
        }
    }

    &.pulmino {
        .tipo {
            &.active {

                color: white;
                background-color: $black-50 !important;

                i::before {
                    background-color: white !important;

                }
            }
        }

        .scelta-veicolo {
            background-color: $black-50 !important;
        }

        i {
            &::before {
                background-color: $black-50 !important;
            }
        }
    }

    &.furgone {
        .tipo {
            &.active {

                color: white;
                background-color: $blue-50 !important;

                i::before {
                    background-color: white !important;

                }
            }
        }

        .scelta-veicolo {
            background-color: $blue-50 !important;
        }


        i {
            &::before {
                background-color: $blue-50 !important;
            }
        }
    }

    .scelta-veicolo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 64px;
        background-color: $light-blue;
        border-radius: 50px;
        position: relative;

        .label {
            padding-left: 34px;
            padding-right: 20px;
        }

        .immagine-veicolo {
            min-width: 150px;

            img {
                position: absolute;
                max-width: 130px;
                right: 20px;
                top: -20px;
            }
        }

        .veicolo-selezione {
            display: flex;
            flex-direction: row;
            padding: 4px;
            border-radius: 50px;
            background-color: $light-blue-5;
            padding: 8px;
            margin-right: 4px;

            select {
                border: 0;
                background-color: transparent;
                max-width: 150px;
                min-width: 150px;

                &:focus,
                &:focus-visible {
                    border: 0;
                    outline: 0;
                }
            }
        }
    }

    .selettore-veicolo {
        display: flex;
        flex-direction: row;
        padding: 4px;
        border-radius: 50px;
        background-color: $light-blue-5;
        gap: 22px;

        .tipo {
            display: flex;
            flex-direction: row;
            gap: 12px;
            padding: 16px;
            border-radius: 50px;
            font-size: 16px;
            color: $dark-blue;
            cursor: pointer;

            &.active {
                color: white;
                background-color: $light-blue;

                i::before {
                    background-color: $light-blue-5;

                }
            }


            .auto,
            .pulmino,
            .furgone {
                font-size: 22px;
                width: 24px;
                height: 22px;
                background-position: 0 0;
                background-repeat: no-repeat;

                &::before {
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    background-color: $light-blue;
                }
            }


            .auto {
                background-image: url('/wp-content/themes/hello-elementor-child/assets/img/auto.svg');

                &::before {
                    width: 24px;
                    height: 22px;
                    mask: url('/wp-content/themes/hello-elementor-child/assets/img/auto-mask.svg');
                    -webkit-mask: url('/wp-content/themes/hello-elementor-child/assets/img/auto-mask.svg');
                }
            }

            .furgone {
                background-image: url('/wp-content/themes/hello-elementor-child/assets/img/furgone.svg');
                width: 24px;
                height: 20px;

                &::before {
                    width: 24px;
                    height: 20px;
                    mask: url('/wp-content/themes/hello-elementor-child/assets/img/furgone-mask.svg');
                    -webkit-mask: url('/wp-content/themes/hello-elementor-child/assets/img/furgone-mask.svg');
                }
            }

            .pulmino {
                background-image: url('/wp-content/themes/hello-elementor-child/assets/img/pulmino.svg');
                width: 24px;
                height: 20px;

                &::before {
                    width: 24px;
                    height: 20px;
                    mask: url('/wp-content/themes/hello-elementor-child/assets/img/pulmino-mask.svg');
                    -webkit-mask: url('/wp-content/themes/hello-elementor-child/assets/img/pulmino-mask.svg');
                }
            }


        }

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.form-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    row-gap: 12px;
    justify-content: flex-start;

    .form-control {
        padding: unset;
        display: inline;
        background-color: unset;
        border: 0;
        flex: 1 0 24%;
        max-width: 250px;
        min-width: 250px;

        &.full {
            flex: 1 0 47%;
            max-width: 506px;
        }

        label {
            margin-bottom: 8px;
        }
    }
}

button {
    padding: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    color: $dark-blue !important;
}

.form-field-container {
    position: relative;

    img,
    i {
        position: absolute;
        top: 15px;
        left: 14px;
        width: 22px;
        height: 22px;
        color: $light-blue;
    }

    input,
    select {
        border: 0 !important;
        padding: 16px !important;
        padding-left: 42px !important;
        border-radius: 10px !important;
        background-color: $light-blue-5;
    }

    .phone,
    .email,
    .marker,
    .calendar {
        font-size: 22px;
        width: 24px;
        height: 22px;
        background-position: 0 0;
        background-repeat: no-repeat;

        &::before {
            content: "";
            display: block;
            top: 0;
            left: 0;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-color: $light-blue;
        }
    }

    .phone {
        background-image: url('/wp-content/themes/hello-elementor-child/assets/img/phone.svg');
        width: 24px;
        height: 24px;

        &::before {
            width: 24px;
            height: 24px;
            background-color: $light-blue;
            mask: url('/wp-content/themes/hello-elementor-child/assets/img/phone-mask.svg');
            -webkit-mask: url('/wp-content/themes/hello-elementor-child/assets/img/phone-mask.svg');
        }
    }


    .email {
        background-image: url('/wp-content/themes/hello-elementor-child/assets/img/email.svg');
        width: 24px;
        height: 20px;

        &::before {
            background-color: $light-blue;
            width: 24px;
            height: 20px;
            mask: url('/wp-content/themes/hello-elementor-child/assets/img/email-mask.svg');
            -webkit-mask: url('/wp-content/themes/hello-elementor-child/assets/img/email-mask.svg');
        }
    }


    .marker {
        background-image: url('/wp-content/themes/hello-elementor-child/assets/img/marker.svg');
        width: 24px;
        height: 24px;

        &::before {
            background-color: $light-blue;
            width: 24px;
            height: 24px;
            mask: url('/wp-content/themes/hello-elementor-child/assets/img/marker-mask.svg');
            -webkit-mask: url('/wp-content/themes/hello-elementor-child/assets/img/marker-mask.svg');
        }
    }

    .calendar {
        background-image: url('/wp-content/themes/hello-elementor-child/assets/img/calendar.svg');
        width: 24px;
        height: 24px;
        z-index: 1;
        left: 8px;

        &::before {
            background-color: $light-blue;
            width: 24px;
            height: 24px;
            mask: url('/wp-content/themes/hello-elementor-child/assets/img/calendar-mask.svg');
            -webkit-mask: url('/wp-content/themes/hello-elementor-child/assets/img/calendar-mask.svg');
        }
    }

    .dp__input_wrap {
        .dp__icon.dp__input_icon.dp__input_icons {
            display: none;
        }
    }


    &.double-input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;

        .separatore {
            width: 1px;
            height: 80%;
            background: lightgrey;
            position: absolute;
            right: 86px;
            z-index: 1;
            top: 10%;
        }

        select {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            padding-left: 20px !important;
            width: 100px;
            font-size: 14px;
            position: relative;
        }

        input {
            font-size: 14px !important;
            padding-right: 10px !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .form-auto {

        .form-container {
            justify-content: space-between;

            .form-control {
                flex: 1 0 30%;
                max-width: unset;

                &.full {
                    flex: 1 0 30%;

                }
            }
        }

        .box-veicoli {
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 40px !important;
            padding-bottom: 10px;

            .tipo-veicolo {
                display: flex;
                gap: 0px;
                flex-direction: column;
                align-content: center;
            }

            .scelta-veicolo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                height: 64px;
                border-radius: 50px;
                position: relative;
            }

        }

        .submit-box {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .form-auto {
        .submit-box {
            width: 100%;

            >.d-flex {
                flex-direction: column;
                align-items: flex-start !important;
            }
        }
    }
}
