@import 'variables';

.form-auto{
    background-color: $dark-blue;
    color: $white;
    padding: 48px;
    border-radius: 24px;
    label{
        color: $white;
    }

    .form-container{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;

        .form-control{
            padding: unset;
            display: inline;
            background-color: unset;
            border: 0;
            flex: 0 0 22%;
            label{
                margin-bottom: 8px;
            }
        }
    }

    button{
        padding: 0 !important;
        background-color: transparent !important;
        border: 0 !important;
        color: $dark-blue !important;
    }

    .form-field-container{
        display: relative;
        i{
            display: absolute;
            top:12px;
            left: 12px;
        }
        input, select{
            padding-left: 24px;
        }
    }



}
