@import url("https://use.typekit.net/ftz7chg.css");
@import 'variables';

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span,
input,
textarea,
select,
button {
  font-family: var(--e-global-typography-text-font-family), sans-serif !important;
  font-weight: 400;
  font-style: normal;
}


p{
  margin-block-end: 0;
  margin-bottom: 0;
}

html,
body {
  scroll-behavior: smooth;
}

.home{
  padding-right: 0 !important;
}

.entry-title {
  display: none !important;
}

.align-items-end{
  align-items: end;
}